<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite">
  <test name="Test">
    <classes>
       <class name="com.hrm.scripts.CreateEmployee"/> 
       <class name="com.hrm.scripts.DeleteEmployee"/> 
        <class name="com.hrm.scripts.TestJobListBoxIsSorted"/>
     
   <class name="com.hrm.scripts.VerifyDuplicateOption"/>  
    </classes>
  </test> 
</suite> 